body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #212427;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}

/* MENU LATERAL */
.menu {
    /* background-color: red; */
    width: 8%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    display: block;
    border-right: 1px solid #4D4D4D;
}

.menu div {
    width: 100%;
    margin-bottom: 50px;
}

.btnHome,
.btnRelarorio,
.btnSolicitacao,
.btnFornecedores {
    font-size: 35px;
    color: #CACACA;
    cursor: pointer;
}

.btnCadastro {
    font-size: 40px;
    color: #CACACA;
    cursor: pointer;
}

.btnUser {
    font-size: 40px;
    color: #CACACA;
}

.menu i:hover {
    color: #9b9b9b;
}

.sair {
    font-size: 40px;
    color: #CACACA;
    position: absolute;
    left: 3.2%;
    top: 93%;
}

/* CONTEÚDOS */
.content {
    /* background-color: green; */
    width: 92%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.contentHome {
    width: 100%;
    height: 100%;

    display: inline-block;
}

.homeTop {
    width: 100%;
    height: 50%;
}

.homeBotton {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.homeBotton::-webkit-scrollbar {
    display: none;
}

.displayNone {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
}

button.cinza {
    background-color: #ccc;
    color: #666;
}

button.vermelho {
    background-color: #a00;
}

button:hover {
    opacity: 0.8;
}

input {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.label>div {
    display: flex;
}

.label>div>input {
    flex: 1;
}